.experiencia-detalhes {
	display: grid;
	gap: 10px 15px;
	grid-template-columns: 1fr 1fr;
	background: #f7f7f7;
	border-radius: 4px;
	margin-bottom: 30px;
	position: relative;
	padding: 20px 20px;
}

.experiencia-ano {
	position: absolute;
	display: block;
	left: -120px;
	top: 20px;
	width: 100px;
	text-align: right;
}

.periodo {
	position: absolute;
	display: none;
	width: 100px;
	text-align: right;
}

.experiencia-detalhes::before {
	content: '';
	position: absolute;
	display: block;
	height: 20px;
	width: 4px;
	left: -4px;
	background: linear-gradient(white, blue);
	top: 20px;
}

.experiencia-habilidades {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	align-items: start;
}

.experiencia-habilidades li {
	padding: 5px 10px;
	display: block;
	background: white;
	border-radius: 4px;
	font-weight: 400;
	font-size: 0.875rem;
}

.experiencia-descricao{
	font-weight: 400;
	font-size: 0.875rem;
}

@media (max-width: 700px){
	.experiencia-ano{
		display: none;
	}

	.periodo{
		display: block;
		position: relative;
		display: block;
		order: 1;
	}
}
