.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.menu-header a{
    color: black;
    display: block;
    font-size: 1.1rem;
    padding: 15px 20px;
}

@media (max-width:700px){
    .header{
        flex-direction: column;
        gap: 15px;
    }
    .menu-header{
        gap: 15px;
    }

    .menu-header a{
        display: block;
        background: rgb(248, 246, 246);
        border-radius: 4px;
    }
}

